*{
    margin:0;
    padding: 0;
    box-sizing:border-box
}

body{
    font-family:'Roboto', sans-serif ;
    background:-webkit-linear-gradient(
        -72deg,
    #a4cef8,
    #d0d3f4 16%,
    #d0d3f4 21%,
    #a4cef8 24%,
    #a4cef8 27%,
    #a4cef8 36%,
    #d0d3f4 45%,
    #a4cef8 60%,
    #d0d3f4 72%,
    #a4cef8 80%,
    #a4cef8 84%,
    #a4cef8
    ) ;
}


section{
    width: 100%;
}

 hr{
    border:none;
    border-top:3px dashed red;
    color:red;
    background-color:red;
    height:1;
    width:100%;
 }
